
    body{
      background-color: #D3CEDF;
     
    }
    hr{
      
      border-style: dotted none none;
      border-width: 5px;
      border-color: grey;
      height: 0px;
      width: 10%;
      
      
    }
    img{
      height: 150px;
    }
  
    h1{
        color: #b5b0f4;
    }
    h2{
        color: #b5b0f4;
        
      text-decoration: underline ;
    }
   a:hover{
    background-color:rgb(41, 151, 124);
   }
  
   
